{% load static %}
<section id="features" class="section-padding">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Awesome Features</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>

    <!-- Primeira linha: Features1 -->
    <div class="row">
      {% for f in features1 %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
          <span class="icon">
            <i class="{{f.icone}}"></i>
          </span>
          <div class="text">
            <h4>{{f.nome}}</h4>
            <p>{{f.descricao}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Segunda linha: Imagem -->
    <div class="row justify-content-center my-5">
      <div class="col-lg-6 text-center">
        <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
          <img src="{% static 'img/feature/intro-mobile.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>

    <!-- Terceira linha: Features2 -->
    <div class="row">
      {% for feat in features2 %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
          <span class="icon">
            <i class="{{feat.icone}}"></i>
          </span>
          <div class="text">
            <h4>{{feat.nome}}</h4>
            <p>{{feat.descricao}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
